@font-face {
    font-family:'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v1/dazS1PrQQuCxC3iOAJFEJRbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}
body {
    font-family: Tahoma, sans-serif;
    font-size: 1em;
}

H1 {
    font-family:'Roboto Slab', serif;
    font-size: 2em;
    letter-spacing: 2.5px;
}

H2 {
    font-family: sans-serif;
    font-size: 1.5em;
}

p {
    font-family: sans-serif;
    font-size: 14px;
    padding-top: none;
}

#container {
    border: 1px solid black;
    margin: auto;
    width: 600px;
}
#header {
    background: #000;
    border: black 1px solid;
    color: #fff;
    margin: 0;
    padding-left: 10px;
}

#main {
    padding-left: 10px;
    padding-bottom: 10px;
}
#goButton {
    background: url('http://www.commentnation.com/backgrounds/images/diagonal_pin_stripes_background_gray.gif');
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    font-size: 20px;
}

a:active { 
    color: #999;
}


a:link { 
    color: #000;
}
    
a:visited { 
    color: #000;
}

a:hover { 
    color: #999;
}

a:focus { 
    color: #000;
}

#header a {
    font-family: sans-serif;
    font-size: .75em;
}

.reverse-link a:active { 
    color: #000;
}

.reverse-link a:link { 
    color: #999;
    text-decoration: none
}
    
.reverse-link a:visited { 
    color: #999;
}

.reverse-link a:hover { 
    color: #999;
}

.reverse-link a:focus { 
    color: #999;
}

.pull-right {
    display: inline-block;
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}

.pull-left {
    display: inline-block;
    float: left;
    padding-right: 10px;
    padding-top: 10px;
}

.success {
    color: green;
}

.failure {
    color: red;
}

/* =========  STYLES FOR RPS2 ============== */

.letter-button-strip {
    /* border: 1px solid red; */
    margin-left: 100px;
    margin-top: 50px;
    padding-top: 5px;
    padding-left: 10px;
}

.rps-jpg {
   /*  border: 1px solid blue; */
    margin-left: 100px;
    margin-bottom: 25px;
}
